<form action="/restaurants" method="POST">
  <input type="text" placeholder="name" name="name" style="display: block">
  <input type="text" placeholder="name_en" name="name_en" style="display: block">
  <input type="text" placeholder="category" name="category" style="display: block">
  <input type="text" placeholder="image" name="image" style="display: block">
  <input type="text" placeholder="location" name="location" style="display: block">
  <input type="text" placeholder="phone" name="phone" style="display: block">
  <input type="text" placeholder="google_map" name="google_map" style="display: block">
  <input type="text" placeholder="rating" name="rating" style="display: block">
  <input type="text" placeholder="description" name="description" style="display: block">
  <button type="submit">Create</button>
  <a href="/">back</a>
</form>